<section id="hero" class="hero">
   <div id="hero_content">
      <img src="images/Green-Leafy-Salad-Banner.png" alt="Leafy Salad Banner" class="hero_content">
   </div>
</section>
<section id="content-1" class="content-1">
   <div id="content-wrapper">
      <div class="content-title">
         <h1>How it works</h1>
      </div>
      <div id="subcontent">
         <div class="content-product">
            <img src="images/order.jpg" alt="online ordering">
            <div class="product-info">
               <span><strong>Choose your meals</strong></span><br>
               <span>Easy-to-follow recipes</span>
            </div>
         </div>
         <div class="content-product">
            <img src="images/delivery.jpg" alt="delivery">
            <div class="product-info">
               <span><strong>Weekly Deliveries</strong></span><br>
               <span>Drop-off deliveries to fit your schedule</span>
            </div>
         </div>
         <div class="content-product">
            <img src="images/cooking.jpg" alt="cooking">
            <div class="product-info">
               <span><strong>Cook fresh ingredients</strong></span><br>
               <span>Delicious & nutritious</span>
            </div>
         </div>
      </div>
      <div class="learn-button">
         <a href="" class="learn-more">Learn More</a>
      </div>
   </div>
</section>

<section id="content-2" class="content-2">
   <div>
      <img src="images/header.png" alt="Food" class="random">
   </div>
</section>
<!-- Meal Package Content -->
<section id="meals" class="meals">
   <div id="meal-wrapper">
      <div class="meal-title">
         <h3>Popular Meals</h3>
         <p>Our Chef's Favourites</p>
      </div>
      <div id="mealcontent">
         <div class="meal-product">
            <img src="images/Pasta.png" alt="Pasta">
            <div class="meal-info">
               <span><strong>Seafood Angel Hair Pasta</strong></span><br><br>
               <span>$15.99</span>
            </div>
         </div>
         <div class="meal-product">
            <img src="images/Sandwich.png" alt="Sandwich">
            <div class="meal-info">
               <span><strong>Corned Beef Sandwich with<br>Swiss Cheese and Sauerkraut </strong></span><br>
               <span>$11.99</span>
            </div>
         </div>
         <div class="meal-product">
            <img src="images/Steak.png" alt="Steak">
            <div class="meal-info">
               <span><strong>Stove Top Seared Steak<br>with Asparagus</strong></span><br>
               <span>18.99</span>
            </div>
         </div>
         <div class="meal-product">
            <img src="images/Burger.png" alt="Burger">
            <div class="meal-info">
               <span><strong>Pulled Beef Burger<br>with Rice Chips</strong></span><br>
               <span>$13.99</span>
            </div>
         </div>
         <div class="meal-product">
            <img src="images/Tacos.png" alt="Tacos">
            <div class="meal-info">
               <span><strong>Al Pastor Tacos</strong></span><br><br>
               <span>$13.99</span>
            </div>
         </div>
         <div class="meal-product">
            <img src="images/Pizza.png" alt="Pizza">
            <div class="meal-info">
               <span><strong>Vegetarian Pizza</strong></span><br><br>
               <span>$11.99</span>
            </div>
         </div>
      </div>
      <div class="learn-button">
         <a href="packages" class="learn-more">See our menus</a>
      </div>
   </div>
</section>